{% extends "navbar.html" %}
{% block content %}
<div>
<h3>About us :</h3>
<p>Thomas TRECUL</p>
<p>Rémi TOURNOUD</p>
<p>We are students in M2 TRI at the Université Savoie Mont Blanc</p>
<h3>About this application :</h3>
<p> This app allows the network & system administrators to input which server will be monitored by the monitoring app,
    and also which OIDs will be monitored on each machine.
</p>
</div>

{% endblock %}