{% extends "navbar.html" %}
{% block content %}
<div class="addform">
<h3>Add a new host to monitor</h3>
    <form action="add_host_object" method="POST">
        <label for="hostname">hostname:</label>
        <input type="text" id="hostname" name="hostname">

        <label for="ip">ip:</label>
        <input type="text" id="ip" name="ip">

        <label for="port">port:</label>
        <input type="text" id="port" name="port">

        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}