{% extends "navbar.html" %}
{% block content %}
<div>
 <table class="list_table">
  <tr>
    <th>oid_number</th>
    <th>community</th>
    <th>test_name</th>
    <th>Action</th>
  </tr>
{% for oid in context.host.oids %}
  <tr>
    <td>{{ oid.oid_number }} </td>
    <td>{{ oid.community }}</td>
    <td>{{ oid.test_name }}</td>
    <td><a href="delete?oid={{ oid.oid_number }}&hn={{ context.host.hostname }}">Delete</a></td>

  </tr>
</div>
{% endfor %}
<div class="addform">
<h3>Add a new OID to this host</h3>
    <form action="add_oid_object" method="POST">

        <input class="invisible" type="text" id="hostname" name="hostname" value="{{ context.host.hostname }}">

        <label for="oid_number">oid_number:</label>
        <input type="text" id="oid_number" name="oid_number">

        <label for="community">community:</label>
        <input type="text" id="community" name="community">

        <label for="test_name">test_name:</label>
        <input type="text" id="test_name" name="test_name">

        <input type="submit" value="Submit">
    </form>
</table> 
</div>

{% endblock %}