{% extends "navbar.html" %}
{% block content %}
<ul id="navbarsmall">
  <li><a href="add_host">Add host</a></li>
  <li><a href="remove_host">Delete host</a></li>
</ul>
<br/> 
 <table class="list_table">
  <tr>
    <th>Hostname</th>
    <th>IP</th>
    <th>port</th>
    <th>Number of OIDs</th>
  </tr>
{% for host in context.hosts %}
  <tr>
    <td>{{ host.hostname }} </td>
    <td>{{ host.ip }}</td>
    <td>{{ host.port }}</td>
    <td><b>{{ host.oids|length }}  </b><a href="details-{{ host.hostname }}">edit</a></td>
  </tr>
{% endfor %}	
</table> 
{% endblock %}