<!doctype html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title>SNMP Configurator</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<!-- <script src="script.js"></script> -->
</head>
<body>
    <ul id="navbar">
        <li><a href="/">Servers</a></li>
        <li style="float:right"><a href="/about">About</a></li>
      </ul> 
	{% block content %}
    {% endblock %}
</body>
</html>