{% extends "navbar.html" %}
{% block content %}
<div class="addform">
<h3>Remove a host from monitor</h3>
    <form action="" method="POST">
        <label for="hostname">hostname:</label>
        <select name="hostname" id="hostname">
            {% for host in context.hosts %}
            <option value="{{ host.hostname }}">{{ host.hostname }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
</div>
{% endblock %}