


input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
  
input[type=submit]:hover {
  background-color: #45a049;
} 

.addform {
  margin-bottom: 2em;
  width: 20em;
}

.list_table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 40em;
}

.list_table td, th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.list_table tr:nth-child(even){background-color: #f2f2f2;}

.list_table tr:hover {background-color: #ddd;}

.list_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar li a:hover {
  background-color: #111;
}

#navbar li {
  float: left;
}

/* Smaller navbar : doesn't work */

#navbarsmall {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #BBB;
}
#navbarsmall li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbarsmall li a:hover {
  background-color: #333;
  color: white;
}

#navbarsmall li {
  float: left;
}

.invisible {
  display:none !important;
}